<section id="hook">
  <%=render("hero")%>
</section>

<%if(current_page.content(:problem))%>
<section id="problem">
<%current_page.content(:problem).each do |problem|%>
<section class="text-gray-600 body-font">
  <div class="container px-5  mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
        <%=problem.content(:title)%>
      </h1>
      <div class="lg:w-2/3 mx-auto leading-relaxed text-base">
        <%=problem.content.html(:text)%>
      </div>
    </div>
  </div>
</section>
<%end%>
</section>
<%end%>

<section id="empathy">

</section>
<section id="solution"></section>
<section id="benefits"></section>
<section id="cred"></section>
<section id="proof"></section>
<section id="offer"></section>
<section id="guarantee"></section>
<section id="cta"></section>